# Registry Configuration
REGISTRY=docker.io/andrewdpg
IMAGE_TAG=latest

# Kubernetes Configuration
K8S_NAMESPACE_STAGING=microservices-staging
K8S_NAMESPACE_PROD=microservices-prod

# Jenkins Configuration
JENKINS_MICROSERVICES_URL=http://jenkins-microservices:8080
JENKINS_INFRASTRUCTURE_URL=http://jenkins-infrastructure:8080

# Notification Configuration
SLACK_WEBHOOK_URL=
TEAMS_WEBHOOK_URL=
EMAIL_RECIPIENTS=devops-team@company.com
